## Visual Studio / .NET
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
packages/

## Rider / VS Code
.idea/
.vscode/
